---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const pages = [
		{
			operator: "ASH",
			title: {
				text: "ASH",
				icon: "operator icon photo/r6-ash-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-ash-big.png",
			},
			video: {
				img: "video-img/r6-ash-v-img.png",
				video: "videos/r6-ash-v.mp4",
				info: "Ash is a fast-paced front liner; capable of breaching, flanking and dividing the Defender's attention in seconds. Ash is capable of ranged soft breaching thanks to her modified M120 CREM Breaching Rounds.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "SLEDGE",
			title: {
				text: "SLEDGE",
				icon: "operator icon photo/r6-sledge-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-sledge-big.png",
			},
			video: {
				img: "video-img/r6-sledge-v-img.png",
				video: "videos/r6-sledge-v.mp4",
				info: "Sledge is a soft breacher and flanker, he excels at creating new lines of fire and entry points, harassing the defenders. Sledge is capable of breaching non-reinforced surfaces thanks to his tactical breaching hammer: The Caber.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "THACHER",
			title: {
				text: "THACHER",
				icon: "operator icon photo/r6-thatcher-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-thatcher-big.png",
			},
			video: {
				img: "video-img/r6-thatcher-v-img.png",
				video: "videos/r6-thatcher-v.mp4",
				info: "The copper spool builds up the EMP by spinning. LED gauge. Twist top 45 degrees to activate the device",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "THERMITE",
			title: {
				text: "THERMITE",
				icon: "operator icon photo/r6-thermite-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-thermite-big.png",
			},
			video: {
				img: "video-img/r6-thermite-v-img.png",
				video: "videos/r6-thermite-v.mp4",
				info: "Thermite is an important backline support for an attacking team. As one of the only hard-breachers in the game, losing Thermite early in the round will hinder your team significantly. Playing Thermite requires patience, leadership and strong communication with your team.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "TWITCH",
			title: {
				text: "TWITCH",
				icon: "operator icon photo/r6-twitch-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-twitch-big.png",
			},
			video: {
				img: "video-img/r6-twitch-v-img.png",
				video: "videos/r6-twitch-v.mp4",
				info: "Twitch is a disabler and intel Operator. She can utilize these skills as either a remote back-line support or as an aggressive entry fragger.Twitch is capable of remote disabling through her unique ability: RSD MODEL 1 SHOCK DRONE",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MONTAGNE",
			title: {
				text: "MONTAGNE",
				icon: "operator icon photo/r6-montagne-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-montagne-big.png",
			},
			video: {
				img: "video-img/r6-montagne-v-img.png",
				video: "videos/r6-montagne-v.mp4",
				info: "Collapses into half its size, providing increased mobility to its wielder. Composite of reinforced alloys and Kevlar. Provides protection against small-arms fire and close combat attacks",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "GLAZ",
			title: {
				text: "GLAZ",
				icon: "operator icon photo/r6-glaz-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-glaz-big.png",
			},
			video: {
				img: "video-img/r6-glaz-v-img.png",
				video: "videos/r6-glaz-v.mp4",
				info: "Glaz is a back-line marksman, capable of soft breaching and providing covering fire from a distance. Glaz is capable of ranged shooting through his unique scope ability: HDS Flipsight.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "FUZE",
			title: {
				text: "FUZE",
				icon: "operator icon photo/r6-fuze-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-fuze-big.png",
			},
			video: {
				img: "video-img/r6-fuze-v-img.png",
				video: "videos/r6-fuze-v.mp4",
				info: "Fuze is best played as an aggressive flanker and area denial Operator. His strengths allow him to dispatch defensive capabilities and harass enemies anchored in defensive positions. Fuze's APM-6 cluster charge propels a group of explosive cluster grenades through any soft breach surface.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "BLITZ",
			title: {
				text: "BLITZ",
				icon: "operator icon photo/r6-blitz-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-blitz-big.png",
			},
			video: {
				img: "video-img/r6-blitz-v-img.png",
				video: "videos/r6-blitz-v.mp4",
				info: "Ballistic shield. Three rows of eight flash-bang grenades provide a high intensity light source",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "IQ",
			title: {
				text: "IQ",
				icon: "operator icon photo/r6-iq-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-iq-big.png",
			},
			video: {
				img: "video-img/r6-iq-v-img.png",
				video: "videos/r6-iq-v.mp4",
				info: "Wrist-mounted. Mobile phone-sized sensor.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "BUCK",
			title: {
				text: "BUCK",
				icon: "operator icon photo/r6-buck-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-buck-big.png",
			},
			video: {
				img: "video-img/r6-buck-v-img.png",
				video: "videos/r6-buck-v.mp4",
				info: "Under-barrel mounted 12 gauge shotgun with four round capacity, used in tandem with an assault rifle. The Skeleton Key allows the operator to alternate between their standard issue assault rifle and a breaching shotgun with ease and efficiency.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "BLACKBEARD",
			title: {
				text: "BLACKBEARD",
				icon: "operator icon photo/r6-blackbeard-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-blackbeard-big.png",
			},
			video: {
				img: "video-img/r6-blackbeard-v-img.png",
				video: "videos/r6-blackbeard-v.mp4",
				info: "Multiple layers of transparent polycarbonate and thermoplastic armor, coated with a spall shield and backed with ultra-light weight laminated glass. Protects the user against blunt impact and artillery fire.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "CAPITAO",
			title: {
				text: "CAPITAO",
				icon: "operator icon photo/r6-capitao-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-capitao-big.png",
			},
			video: {
				img: "video-img/r6-capitao-v-img.png",
				video: "videos/r6-capitao-v.mp4",
				info: "Use a glass bolt to deliver a swift and silent assault against hostiles without alerting them to your position. The glass cartridge breaks on impact releasing a gas that ignites the oxygen in the surrounding area. Deliver swift and agile assaults without alerting your opponents of your position.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "HIBANA",
			title: {
				text: "HIBANA",
				icon: "operator icon photo/r6-hibana-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-hibana-big.png",
			},
			video: {
				img: "video-img/r6-hibana-v-img.png",
				video: "videos/r6-hibana-v.mp4",
				info: "The X-KAIROS - a 40 mm caliber launcher - fires explosive pellets that can be detonated simultaneously from a distance. Deliver innovative assaults by creating lines of sights, or new pathways!",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "JACKAL",
			title: {
				text: "JACKAL",
				icon: "operator icon photo/r6-jackal-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-jackal-big.png",
			},
			video: {
				img: "video-img/r6-jackal-v-img.png",
				video: "videos/r6-jackal-v.mp4",
				info: "Eyenox Model III was created to offer a mobile tracking device able to both identify and trail a person’s footprints in real-time. Equipped with advanced computer vision, the Eyenox detects invisible details relating to footfall and weight distribution so that you can identify and stalk your target.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "YING",
			title: {
				text: "YING",
				icon: "operator icon photo/r6-ying-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-ying-big.png",
			},
			video: {
				img: "video-img/r6-ying-v-img.png",
				video: "videos/r6-ying-v.mp4",
				info: "Inspired by the new breed of stun grenades showcased by the S.A.S., this mercury and magnesium based explosive creates a multitude of blinding flashes. The Candela device releases a cluster of flash charges that can either be anchored on surfaces or thrown out as a grenade.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ZOFIA",
			title: {
				text: "ZOFIA",
				icon: "operator icon photo/r6-zofia-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-zofia-big.png",
			},
			video: {
				img: "video-img/r6-zofia-v-img.png",
				video: "videos/r6-zofia-v.mp4",
				info: "KS79 LIFELINE makes use of electronically triggered projectile technology that can fire both concussion and impact ammunition. The concussion ammunition delivers a 170-decibel shockwave that impairs hearing and causes a dizzying effect.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "DOKKAEBI",
			title: {
				text: "DOKKAEBI",
				icon: "operator icon photo/r6-dokkaebi-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-dokkaebi-big.png",
			},
			video: {
				img: "video-img/r6-dokkaebi-v-img.png",
				video: "videos/r6-dokkaebi-v.mp4",
				info: "Grace utilizes the Ballistic Armor Military Laptop, codenamed Logic Bomb, which she uses to hack enemy PDA tactical devices. The program downloads a virus of her making that can bypass firewalls, turning surrounding devices on and emitting a loud noise to compromise an enemy’s position.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "LION",
			title: {
				text: "LION",
				icon: "operator icon photo/r6-lion-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-lion-big.png",
			},
			video: {
				img: "video-img/r6-lion-v-img.png",
				video: "videos/r6-lion-v.mp4",
				info: "Twitch provided him with an aerial drone while he served with GIGN. The EE-ONE-D helps Lion maintain quarantine by detecting movement in an area, giving an overview of hot zones or of the battlefield. His drone can stay airborne indefinitely, but he must choose the right moment to perform his scans.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "FINKA",
			title: {
				text: "FINKA",
				icon: "operator icon photo/r6-finka-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-finka-big.png",
			},
			video: {
				img: "video-img/r6-finka-v-img.png",
				video: "videos/r6-finka-v.mp4",
				info: "Finka's Adrenal Surge activates pre-injected nanobots made of zinc in operators, releasing a pharmacological cocktail into their system where the zinc is absorbed as a nutrient. These nanites give her team a short boost in HP, they help allies out of DBNO, and they steady the team’s aim. She’s the only one capable of tailoring the nanites to specific operators.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MAVERICK",
			title: {
				text: "MAVERICK",
				icon: "operator icon photo/r6-maverick-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-maverick-big.png",
			},
			video: {
				img: "video-img/r6-maverick-v-img.png",
				video: "videos/r6-maverick-v.mp4",
				info: "Maverick’s D.I.Y. blowtorch can breach any surface, including reinforced walls and hatches. It requires a steady hand and knowledge of the environment to create small holes and lines of sight. Maverick must be in close range to use his gadget on the chosen surface. This torch makes almost no sound but it runs out of fuel quickly. Nevertheless, the high precision of this gadget makes it a very creative tool to use hands-on without relying on digital technology.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "NOMAD",
			title: {
				text: "NOMAD",
				icon: "operator icon photo/r6-nomad-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-nomad-big.png",
			},
			video: {
				img: "video-img/r6-nomad-v-img.png",
				video: "videos/r6-nomad-v.mp4",
				info: "Nomad’s custom rifle attachment allows her to launch Airjab repulsion grenades. They can stick to a surface and will detonate when an enemy is within range. Nomad enters the field with three Airjab grenades. These pushback devices are non-lethal but they disorient those affected.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "GRIDLOCK",
			title: {
				text: "GRIDLOCK",
				icon: "operator icon photo/r6-gridlock-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-gridlock-big.png",
			},
			video: {
				img: "video-img/r6-gridlock-v-img.png",
				video: "videos/r6-gridlock-v.mp4",
				info: "Trax Stingers' design is a portable version that when activated, deploys a hexagonal cluster of spikes, covering uneven ground better than a straight mat. Once deployed they can replicate and spread out over a large area. This feature, unique for an Attacker, enables them to use the Trax as an obstacle to reshape the map and control an area. Effects on the enemy include slowing them down and causing damage when stepped on. Trax Stingers will be destroyed when shot or dealt impact or thermal damage.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "NOKK",
			title: {
				text: "NOKK",
				icon: "operator icon photo/r6-nokk-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-nokk-big.png",
			},
			video: {
				img: "video-img/r6-nokk-v-img.png",
				video: "videos/r6-nokk-v.mp4",
				info: "The HEL is a glove attachment, which, when activated, reduces her ambient noise output and hides her image from the opponents’ observation tools. Drones, Bulletproof Cameras, Evil Eyes and more will thus be unable to register Nøkk’s presence as she roams through the map, unseen. Her footsteps will be silenced as she stalks opposing operators, unheard. Roaming will be more risky than ever for Defenders, as Nøkk could be hiding behind every corner or worse, sneaking up right behind them.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "AMARU",
			title: {
				text: "AMARU",
				icon: "operator icon photo/r6-amaru-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-amaru-big.png",
			},
			video: {
				img: "video-img/r6-amaru-v-img.png",
				video: "videos/r6-amaru-v.mp4",
				info: "With the Garra Hook, Amaru can grapple onto ledges and windows and hoist herself up in record times. Her opponents now not only have to worry about attacks from above, but also attacks from below. With the Garra, Amaru is the only operator that can go up an open hatch, instead of down. When timed right, hooking the Garra onto a window can result in Amaru’s infamous Garra Kick, which instantly takes out an opponent standing behind the window.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "KALI",
			title: {
				text: "KALI",
				icon: "operator icon photo/r6-kali-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-kali-big.png",
			},
			video: {
				img: "video-img/r6-kali-v-img.png",
				video: "videos/r6-kali-v.mp4",
				info: "To talk about the LV Explosive Lance, we need to mention Kali’s CSRX 300. It’s a dangerous weapon that can breach barricades and hatches in a single shot, and create big holes in breakable walls. The LV is its under-barrel, and it can be used at the same time as the CSRX 300’s scopes. Its role is to destroy gadgets with a light explosion within a set radius. When used on a breakable wall, it will create a hole slightly smaller than what the sniper rifle would do. When shot at a reinforced wall, however, it simply lodges in surface.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "IANA",
			title: {
				text: "IANA",
				icon: "operator icon photo/r6-iana-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-iana-big.png",
			},
			video: {
				img: "video-img/r6-iana-v-img.png",
				video: "videos/r6-iana-v.mp4",
				info: "The Gemini Replicator is a remotely-controlled holographic copy of Iana. It can move and produces sound like she would, but it cannot shoot, melee or use secondary gadgets. It has a time limit, or it can be exited at any time. There is always a cooldown between two uses, which is longer if it’s destroyed. The Replicator is all about fooling Iana’s opponents and collecting information. During its deployment, she can find her opponents and cause confusion to her heart’s content. If the Gemini is spotted and destroyed, it can help Iana deduce the threat’s location, but it will buy her opponents a few precious seconds to reposition.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ACE",
			title: {
				text: "ACE",
				icon: "operator icon photo/r6-ace-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-ace-big.png",
			},
			video: {
				img: "video-img/r6-ace-v-img.png",
				video: "videos/r6-ace-v.mp4",
				info: "With the S.E.L.M.A. Aqua Breacher, water is the name of the game. It makes use of hydraulic pressure to burst through breakable and reinforced surfaces. The cylinder is thrown on whatever Ace is trying to breach, and then it opens to fully deploy. It explodes one time on floors, ceilings and hatches, but on walls the cylinder rolls down to deploy up to two times, if space allows. Each of these deployments leaves a clean rectangle breach, combining to create a hole big enough for an Operator to go through easily.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ZERO",
			title: {
				text: "ZERO",
				icon: "operator icon photo/r6-zero-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-zero-big.png",
			},
			video: {
				img: "video-img/r6-zero-v-img.png",
				video: "videos/r6-zero-v.mp4",
				info: "Intel is crucial to a good attack strategy, and Zero is well aware of that. His Argus Launcher is equipped with very special cameras that can lodge themselves into breakable and reinforced surface to surveil either side. Yes, these cameras can cover two angles and effectively allow you to spy on the opposing team. Argus Cameras do have one more quirk though: a single laser shot, perfect for destroying key elements in the Defenders’ setup or drawing attention away from choke points.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "FLORES",
			title: {
				text: "FLORES",
				icon: "operator icon photo/r6-flores-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-flores-big.png",
			},
			video: {
				img: "video-img/r6-flores-v-img.png",
				video: "videos/r6-flores-v.mp4",
				info: "Controlled from a distance, the RCE-Ratero Charge races forward while Flores scouts a location for its blast. Once triggered, the Ratero clutches onto the nearest surface, armors itself with a bulletproof shell, and explodes, destroying nearby gadgets and soft surfaces.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "OSA",
			title: {
				text: "OSA",
				icon: "operator icon photo/r6-osa-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-osa-big.png",
			},
			video: {
				img: "video-img/r6-osa-v-img.png",
				video: "videos/r6-osa-v.mp4",
				info: "The transparent and bulletproof Talon-8 Shield can be carried by Osa or deployed on floors or window frames, giving her a protective line of sight while she formulates an attack strategy.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "SENS",
			title: {
				text: "SENS",
				icon: "operator icon photo/r6-sens-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-sens-big.png",
			},
			video: {
				img: "video-img/r6-sens-v-img.png",
				video: "videos/r6-sens-v.mp4",
				info: "R.O.U. Projector System rolls after it's thrown by Sens and drops small projectors to create a screen along its path. Although physical objects can still pass through the screen, it's highly flexible—cutting off multiple lines of sight at once.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "GRIM",
			title: {
				text: "GRIM",
				icon: "operator icon photo/r6-grim-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-grim-big.png",
			},
			video: {
				img: "video-img/r6-grim-v-img.png",
				video: "videos/r6-grim-v.mp4",
				info: "You've heard the buzz, and the Kawan Hive Launcher is here! Firing off a projectile releases a swarm of bots that track the location of opponents who walk through it. Just don't get them in your eyes.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "BRAVA",
			title: {
				text: "BRAVA",
				icon: "operator icon photo/r6-brava-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/attacker.svg",
				side_a_d: "ATTACKER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-brava-big.png",
			},
			video: {
				img: "video-img/r6-brava-v-img.png",
				video: "videos/r6-brava-v.mp4",
				info: "Brava's Kludge Drone is a sabotage tool capable of taking over opponents' devices. If the device can't be controlled, it's destroyed instead.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
// kogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RW
// ikogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RW
// ikogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RW
// ikogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RW
// ikogrjhweansjgiorkMAkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWkogrjhweansjgiorkMA)RWvkogrjhweansjgiorkMA)RW
		{
			operator: "SMOKE",
			title: {
				text: "SMOKE",
				icon: "operator icon photo/r6-smoke-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-smoke-big.png",
			},
			video: {
				img: "video-img/r6-smoke-v-img.png",
				video: "videos/r6-smoke-v.mp4",
				info: "Detonator Remote receiver Double-sided tape allows vertical or horizontal mounting",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MUTE",
			title: {
				text: "MUTE",
				icon: "operator icon photo/r6-mute-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-mute-big.png",
			},
			video: {
				img: "video-img/r6-mute-v-img.png",
				video: "videos/r6-mute-v.mp4",
				info: "Collapsible antennas. Device can be planted on floors. Digital display. Activation levers.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "CASTLE",
			title: {
				text: "CASTLE",
				icon: "operator icon photo/r6-castle-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-castle-big.png",
			},
			video: {
				img: "video-img/r6-castle-v-img.png",
				video: "videos/r6-castle-v.mp4",
				info: "Castle is an anchor and secure Operator, capable of creating defensive strongholds around the objective, controlling the flow of the attackers and slowing down their assault. Castle's unique ability is to create reinforced barricades using the: UTP1-Universal Tactical Panel.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "PULSE",
			title: {
				text: "PULSE",
				icon: "operator icon photo/r6-pulse-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-pulse-big.png",
			},
			video: {
				img: "video-img/r6-pulse-v-img.png",
				video: "videos/r6-pulse-v.mp4",
				info: "Pulse is a roamer and intel Operator for a defending team. Thanks to his HB-5 Cardiac Sensor, Pulse can track attackers through surfaces, gathering valuable intel on their position.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "DOC",
			title: {
				text: "DOC",
				icon: "operator icon photo/r6-doc-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD ",
				photo: "operator big photo/r6-doc-big.png",
			},
			video: {
				img: "video-img/r6-doc-v-img.png",
				video: "videos/r6-doc-v.mp4",
				info: "Handheld, trigger-operated pistol 1mg dose of epinephrine, in a saline solution. The pistol is powered by a pressurized CO2 canister",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ROOK",
			title: {
				text: "ROOK",
				icon: "operator icon photo/r6-rook-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-rook-big.png",
			},
			video: {
				img: "video-img/r6-rook-v-img.png",
				video: "videos/r6-rook-v.mp4",
				info: "Rook is an anchor and buff Operator, capable of providing a boost to the Defenders, giving them a valuable advantage in a firefight. Rook is capable of protecting himself and his team mates through his unique ability: R1N 'RHINO' Armor.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "KAPKAN",
			title: {
				text: "KAPKAN",
				icon: "operator icon photo/r6-kapkan-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-kapkan-big.png",
			},
			video: {
				img: "video-img/r6-kapkan-v-img.png",
				video: "videos/r6-kapkan-v.mp4",
				info: "Kapkan is a trap Operator and a deadly addition to a Defending team. Kapkan is equipped with a Entry Denial Device (EDD-MK II). This trap is a packed C4 charge activated when motion is detected. It can be placed on door and window frames -- denying key entry points for attackers.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "TACHANKA",
			title: {
				text: "TACHANKA",
				icon: "operator icon photo/r6-tachanka-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-tachanka-big.png",
			},
			video: {
				img: "video-img/r6-tachanka-v-img.png",
				video: "videos/r6-tachanka-v.mp4",
				info: "Tachanka’s new gadget, the Shumikha Launcher, is perfect for area denial and for covering unfavorable angles. Its heavy incendiary grenades can bounce multiple times, and their fuse timer only starts after the first bounce, giving them a lot of versatility. Tachanka is equipped with 10 grenades at the beginning of a match and the Launcher can hold up to 7. For maximum effectiveness, use several grenades together to cover a wider area and prevent your opponents from avoiding them. Once launched, you’ll only be able to reload one at a time.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "JAGER",
			title: {
				text: "JAGER",
				icon: "operator icon photo/r6-jager-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-jager-big.png",
			},
			video: {
				img: "video-img/r6-jager-v-img.png",
				video: "videos/r6-jager-v.mp4",
				info: "Jager can help his team create a defensive stronghold before roaming the map to intercept flanking attackers. He is capable of destroying incoming projectiles due to his unique deployable gadget : the Active Defense System or ADS.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "BANDIT",
			title: {
				text: "BANDIT",
				icon: "operator icon photo/r6-bandit-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-bandit-big.png",
			},
			video: {
				img: "video-img/r6-bandit-v-img.png",
				video: "videos/r6-bandit-v.mp4",
				info: "Bandit is a secure, anti-hard breacher and roamer, capable of denying key entry points for the attackers and defending the objective while on the move. Bandit is capable of electrifying a variety of surfaces thanks to his special ability: Crude Electrical Device or CED-1 Shock Wire.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "FROST",
			title: {
				text: "FROST",
				icon: "operator icon photo/r6-frost-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-frost-big.png",
			},
			video: {
				img: "video-img/r6-frost-v-img.png",
				video: "videos/r6-frost-v.mp4",
				info: "The rubber mat and concealed metal jaws are bolted in place. When the pressure plate is engaged, two sets of jaws at ankle and shin height deploy, locking the person in place. Requires two people to release the jaws and reset the trap.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "VALKYRIE",
			title: {
				text: "VALKYRIE",
				icon: "operator icon photo/r6-valkyrie-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-valkyrie-big.png",
			},
			video: {
				img: "video-img/r6-valk-v-img.png",
				video: "videos/r6-valkyrie-v.mp4",
				info: "Encased in a tinted silicone ball, coated in micro-suction cups, the quick deploy camera maintains a clear view thanks to the internal gyroscope that dictates the angle of the lens. The suction cups allow the camera to adhere to any surface, while the gyroscope mounted lens stabilises the camera angle and focus. The live video feed is available to all operators.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "CAVEIRA",
			title: {
				text: "CAVEIRA",
				icon: "operator icon photo/r6-caveira-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-caveira-big.png",
			},
			video: {
				img: "video-img/r6-caveira-v-img.png",
				video: "videos/r6-caveira-v.mp4",
				info: "The “Luison” is wrapped in a rock-based mineral fiber to both insulate and soundproof the silencer. This weapon allows Caveira to incapacitate her target discreetly and conduct an interrogation. The “Luison” is not only formidable to neutralize your opponent while remaining undetected; it also ensures that no one gets away.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ECHO",
			title: {
				text: "ECHO",
				icon: "operator icon photo/r6-echo-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-echo-big.png",
			},
			video: {
				img: "video-img/r6-echo-v-img.png",
				video: "videos/r6-echo-v.mp4",
				info: "Equipped with an acoustic hailing device, this signature drone can fire ultrasonic bursts that disorient all targets in a given perimeter. Yokai also transmits a video feed to Echo, who keeps his immediate perimeter secure. Embrace the power of technology and embody a turret Defender who can both hold up the siege and support roamers.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MIRA",
			title: {
				text: "MIRA",
				icon: "operator icon photo/r6-mira-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-mira-big.png",
			},
			video: {
				img: "video-img/r6-mira-v-img.png",
				video: "videos/r6-mira-v.mp4",
				info: "A specialized laminated glass, which when deployed with oxyacetylene can carve out a one-way mirror on any wall. If the air pressure is disrupted, however, the glass is ejected and creates a daring opening for both defenders and attackers.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "LESION",
			title: {
				text: "LESION",
				icon: "operator icon photo/r6-lesion-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-lesion-big.png",
			},
			video: {
				img: "video-img/r6-lesion-v-img.png",
				video: "videos/r6-lesion-v.mp4",
				info: "Gu mines were inspired by the sharp punji sticks used during the Vietnam War. Rubbed with toxic plants or feces, the stakes served to slow down enemy troops by causing severe infections in their camp. Similarly, Gu mines inject a toxin that injure your opponent and limit their speed.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ELA",
			title: {
				text: "ELA",
				icon: "operator icon photo/r6-ela-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-ela-big.png",
			},
			video: {
				img: "video-img/r6-ela-v-img.png",
				video: "videos/r6-ela-v.mp4",
				info: "Inspired by the 1939 anti-tank Polish grenades used by the iconic Cichociemny during WWII, the sticky Grzmot mines can be anchored on surfaces, impairing hearing and causing a dizzying effect. These concussion mines are triggered upon proximity, affecting anyone within its radius.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "VIGIL",
			title: {
				text: "VIGIL",
				icon: "operator icon photo/r6-vigil-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-vigil-big.png",
			},
			video: {
				img: "video-img/r6-vigil-v-img.png",
				video: "videos/r6-vigil-v.mp4",
				info: "Chul Kyung’s quiet lethality in the field allows him to rely on his Electronic Rendering Cloak (ERC-7) to remain undetected. The ERC-7 uses Diminished Reality technology to remove perceivable stimuli from its direct environment. Vigil carries a prototype in his backpack, which scans surrounding electronic devices and wipes his image from any cameras in view.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MAESTRO",
			title: {
				text: "MAESTRO",
				icon: "operator icon photo/r6-maestro-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-maestro-big.png",
			},
			video: {
				img: "video-img/r6-maestro-v-img.png",
				video: "videos/r6-maestro-v.mp4",
				info: "Maestro uses a remote-controlled turret firing high-energy laser beams. Once affixed to the floor or wall, Maestro can remote-surveil and provide overwatch in a location through the swivel-mounted camera. When the camera device breaks open to fire a laser beam the core is exposed to damage. Otherwise, the turret is unaffected by bullets and melee. Lastly, Evil Eye can see through smoke.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ALIBI",
			title: {
				text: "ALIBI",
				icon: "operator icon photo/r6-alibi-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-alibi-big.png",
			},
			video: {
				img: "video-img/r6-alibi-v-img.png",
				video: "videos/r6-alibi-v.mp4",
				info: "Prisma projects holograms identical to Alibi in an idle position. If you shoot or touch the holograms, you’ll be marked and pinged for the next few seconds. If Prisma is deployed outside, a false “Defender Outside” warning is triggered for Attackers. To add an element of surprise, Prisma conceals the identity of any Defender who ventures outside. Any bullet, melee, or explosives damages Prisma, and will shoot through the hologram. Be careful not to stand too close.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "CLASH",
			title: {
				text: "CLASH",
				icon: "operator icon photo/r6-clash-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-clash-big.png",
			},
			video: {
				img: "video-img/r6-clash-v-img.png",
				video: "videos/r6-clash-v.mp4",
				info: "Clash is the first defender with a shield. The CCE Shield is her primary weapon; she can swap to her secondary at any time, but to do so, she needs to put her shield away first. Her bulletproof extendable shield has the ability to slow down opponents by using a high voltage Charged Field Generator (CFG) that emanates directly in front of the shield in a cylindrical shape. Opponents caught in the CFG also sustain low damage over time. Effective use of the shield allows Clash to block entry points, and to prevent or delay a push by the Attackers.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "KAID",
			title: {
				text: "KAID",
				icon: "operator icon photo/r6-kaid-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-kaid-big.png",
			},
			video: {
				img: "video-img/r6-kaid-v-img.png",
				video: "videos/r6-kaid-v.mp4",
				info: "Kaid’s 'Rtila' Electroclaw can electrify reinforced walls and hatches, barbed wire, and deployable shields, making it tougher for the enemy to breach the Kasbah and any facility he’s tasked with protecting. He enters the field with two of these throwable gadgets. Once they’ve attached themselves to a surface, they each electrify metallic objects within a 0.75 meter radius.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MOZZIE",
			title: {
				text: "MOZZIE",
				icon: "operator icon photo/r6-mozzie-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-mozzie-big.png",
			},
			video: {
				img: "video-img/r6-mozzie-v-img.png",
				video: "videos/r6-mozzie-v.mp4",
				info: "Mozzie’s launcher, Pests, are tiny 4-legged bots that can be used to target a single drone, or deployed into an area to prevent access by a drone. When launched, the Pest latches onto the nearest enemy drone and obscures its camera. It then initiates an override sequence to hack the drone and give control to Mozzie. Counter-intelligence is enabled with no risk of a counter hack. Single-use only, Pests self-destruct by dissolving into thin air once their target is in Mozzie’s control.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "WARDEN",
			title: {
				text: "WARDEN",
				icon: "operator icon photo/r6-warden-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-warden-big.png",
			},
			video: {
				img: "video-img/r6-warden-v-img.png",
				video: "videos/r6-warden-v.mp4",
				info: "The Glance serves a function that was almost non-existent on the Defending team. With it active, Warden can see through smoke and turn around what could be a low-intel situation. Activating his Smart Glasses can also prevent Warden from being blinded by flash effects, or cleanse an existing flash blindness, salvaging an otherwise dangerous few seconds. However, the Glance’s thermal vision only works as long as Warden stays immobile; otherwise, he is affected by smoke the same as everyone else. The Glance is a triggered effect, which must be restored through a cooldown after use.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "GOYO",
			title: {
				text: "GOYO",
				icon: "operator icon photo/r6-goyo-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-goyo-big.png",
			},
			video: {
				img: "video-img/r6-goyo-v-img.png",
				video: "videos/r6-goyo-v.mp4",
				info: "Like the ordinary Deployable Shield, the Volcán Shield provides cover and allows Defenders to block pathways, but Goyo turns up the heat with an attached incendiary bomb. From the front, however, there’s little indication of which it might be. Until someone shoots the bomb to make it explode, the shield continues to be an obstacle for the Attackers.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "WAMAI",
			title: {
				text: "WAMAI",
				icon: "operator icon photo/r6-wamai-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-wamai-big.png",
			},
			video: {
				img: "video-img/r6-wamai-v-img.png",
				video: "videos/r6-wamai-v.mp4",
				info: "The Mag-NET System is a thrown, adhesive gadget. It sticks to surfaces and waits. Its function is to attract an opponent’s projectile to its position, and then self-destruct to detonate that projectile. This way, not only can Wamai make Attackers’ grenades and projectile gadgets useless, he can also use strategic placement to turn those projectiles against them.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ORYX",
			title: {
				text: "ORYX",
				icon: "operator icon photo/r6-oryx-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-oryx-big.png",
			},
			video: {
				img: "video-img/r6-oryx-v-img.png",
				video: "videos/r6-oryx-v.mp4",
				info: "The Remah Dash speed allows him to roam efficiently and cover short distances with unprecedented swiftness. It can also be used to knock down opponents and dash through breakable walls, creating a wide opening. Be careful of the cost, though, as he loses health every time the Remah Dash is used for breaching. Additionally, Oryx has the unique ability to interact with broken hatches. He can climb straight through for a quick rotation, or he can hang on the edge to peek or wait for the perfect moment to go up. As long as he’s hanging, he can also opt to drop down if the climb seems too dangerous.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "MELUSI",
			title: {
				text: "MELUSI",
				icon: "operator icon photo/r6-melusi-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-melusi-big.png",
			},
			video: {
				img: "video-img/r6-melusi-v-img.png",
				video: "videos/r6-melusi-v.mp4",
				info: "The Banshee Sonic Defence is deployable on surfaces, much like Maestro’s Evil Eyes, but they don’t require any manual control. As soon as an opponent walks close enough to it, it will release its scream and slow them. It can be destroyed, but since it’s bulletproof, Attackers will have to dispense some utility or strike it up close.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "ARUNI",
			title: {
				text: "ARUNI",
				icon: "operator icon photo/r6-aruni-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/NIGHTHAVEN.png",
				squad_name: "NIGHTHAVEN",
				photo: "operator big photo/r6-aruni-big.png",
			},
			video: {
				img: "video-img/r6-aruni-v-img.png",
				video: "videos/r6-aruni-v.mp4",
				info: "Once in place, the gate projects a laser array capable of detecting anyone moving through it. When an intruder is detected, energy output to the laser increases, causing second- and third-degree burns. We spent nearly an hour tossing everything from wads of paper to pieces of fruit through until we found a setting that maximizes damage while limiting energy consumption.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "THUNDERBIRD",
			title: {
				text: "THUNDERBIRD",
				icon: "operator icon photo/r6-thunderbird-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/WOLFGUARD.png",
				squad_name: "WOLFGUARD",
				photo: "operator big photo/r6-thunderbird-big.png",
			},
			video: {
				img: "video-img/r6-thunderbird-v-img.png",
				video: "videos/r6-thunderbird-v.mp4",
				info: "When deployed on the ground, the Kóna Station acts as a point of safety for injured and downed Operators. All they have to do is approach the device, and the Kóna Station automatically boosts the Operator's HP or offers a revive.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "THORN",
			title: {
				text: "THORN",
				icon: "operator icon photo/r6-thorn-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/REDHAMMER.png",
				squad_name: "REDHAMMER",
				photo: "operator big photo/r6-thorn-big.png",
			},
			video: {
				img: "video-img/r6-thorn-v-img.png",
				video: "videos/r6-thorn-v.mp4",
				info: "The Razorbloom Shell sticks to a surface after it's thrown by Thorn. Shortly after detecting a nearby opponent, it automatically propels a set of sharp blades in all directions, delivering lethal damage.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "AZAMI",
			title: {
				text: "AZAMI",
				icon: "operator icon photo/r6-azami-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/VIPERSTRIKE.png",
				squad_name: "VIPERSTRIKE",
				photo: "operator big photo/r6-azami-big.png",
			},
			video: {
				img: "video-img/r6-azami-v-img.png",
				video: "videos/r6-azami-v.mp4",
				info: "The Kiba Barrier is a modified kunai that sticks to a surface after it's thrown and releases a material that first expands then solidifies, creating a bulletproof barrier to patch up those holes in your defenses.",
			},
			loadout: [
				{
					name: "R4C",
					icon: "/weapon-icons/r4c.png",
				},
			],
		},
		{
			operator: "SOLIS",
			title: {
				text: "SOLIS",
				icon: "operator icon photo/r6-solis-icon.png",
			},
			text: {
				side: "SIDE",
				side_icon: "siege logo/defender.svg",
				side_a_d: "DEFENDER",
				squad: "SQUAD",
				squad_icon: "squad-logo/GHOSTEYES.png",
				squad_name: "GHOSTEYES",
				photo: "operator big photo/r6-solis-big.png",
			},
			video: {
				img: "video-img/r6-solis-v-img.png",
				video: "videos/r6-solis-v.mp4",
				info: "The truth comes to light with Solis' SPEC-IO Electro-Sensor, a new gadget detection device for Defense operatives. With the ability to mark and ping opponents' electronic devices, there is nowhere to hide.",
			},
			loadout:
				{
					primary:[
						{
							primary_name:"P90",
							primary_icon: "/weapon-icons/r4c.png",
						},
					] ,
					secondary:[
						{
							secondary_name:"",
					        secondary_icon:"",
						},
					],
					gadget:[
						{
							gadget_name:"",
					        gadget_icon:"",
						},
					],
					ability:[
						{
							ability_name:"",
					        ability_icon:"",
						},
					],
					
				},

		},
	];
	return pages.map(({ operator, title, text, video, loadout }) => {
		return {
			params: { operator: operator },
			props: { title, text, video, loadout },
		};
	});
}

const { title, text, video, loadout } = Astro.props;
---

<script>
	document.getElementById("play-button")?.addEventListener("click", () => {
		let video = document.querySelector("video");
		if (!video) return;
		video.style.display = "block";
		video.play();
	});
</script>

<Layout>
	<main>
		<h1>
			<div class="main-title">
				<div class="title">
					<img class="iconitza" src={"../" + title.icon} />
					<div class="content-title">{title.text}</div>
				</div>
				<div class="properties">
					<p>{text.side}</p>
					<img class="icon" src={"../" + text.side_icon} />
					<p>{text.side_a_d}</p>
					<p>{text.squad}</p>
					<img class="icon-squad" src={"../" + text.squad_icon} />
					<p>{text.squad_name}</p>
				</div>
			</div>

			<img class="big" src={"../" + text.photo} />
			<div class="band">
				<div class="image">
					<img width="400" src={"../" + video.img} />
					<img
						id="play-button"
						class="play-btn"
						src="../video-img/play.png"
					/>
					<video
						id="video"
						width="400"
						controls
						src={"../" + video.video}></video>
				</div>
				<div class="info">
					<p class="title-info">UNIQUE ABILITIES AND PLAYSTYLE</p>
					<p class="text-info">{video.info}</p>
				</div>
			</div>
		</h1>
		<div class="loadout">
			<p class="loadout-title">LOADOUT</p>
			<div class="weapons">
			    <div class="type">PRIMARY WEAPON
                     <div>

					 </div>
				</div>
				<div class="type">SECONDARY WEAPON
					<div>
						
					</div>
				</div>
				<div class="type">GADGET
					<div>
						
					</div>
				</div>
				<div class="type">UNIQUE ABILITY
					<div>
						
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>

	.weapons{
		display: flex;
		flex-direction: row;
		gap:200px;
	}

    .type{
		color: #edf0f1;
		font-size: 35px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;
	}

    .loadout-title{
		font-size: 75px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);
	}
    
	.loadout{
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	.title-info {
		font-size: 22px;
		color: #151d30;
	}

	.text-info {
		padding-left: 10px;
		font-size: 14px;
		color: #151d30;
	}

	.info {
		width: 38%;
		padding: 25px;
		gap: 18px;
		font-family: Roboto;
		display: flex;
		flex-direction: column;
	}

	.title {
		display: flex;
		flex-direction: row;
	}

	.main-title {
		display: flex;
		flex-direction: column;
		z-index: 4;
		margin-right: 650px;
		padding: 25px;
	}
	.band {
		height: 254px;
		width: 100%;
		background-color: rgba(209, 205, 230, 0.603);
		padding: 10px;
		z-index: 5;
		display: flex;
		justify-content: center;
		box-shadow: 0px 6px #00ffe58e;
		backdrop-filter: blur(4px);
	}
	.play-btn {
		width: 60px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		filter: invert(100%);
	}
	video {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		margin-right: 650px;
	}

	.properties {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.image {
		position: relative;
		width: 400px;
		margin-right: 30px;
	}

	.play-btn:hover {
		filter: invert(100%) sepia(82%) saturate(780%) hue-rotate(97deg)
			brightness(104%) contrast(105%);
	}

	body {
		background-image: url(../background/background.jpg);
		background-repeat: repeat-y;
		background-size: contain;
	}

	.big {
		position: absolute;
		width: 640px;
		margin-left: 700px;
		margin-top: -120px;
		z-index: 2;
	}
	main {
		display: flex;
		flex-direction: column;
		align-items: left;
		max-width: auto;
		width: 100%;
		margin-top: 100px;
		margin-bottom: 200px;
	}

	.content-title {
		color: #edf0f1;
		font-size: 55px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;

		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
		filter: drop-shadow(2px 2px 2px #151d30);
	}

	h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 800px;
		gap: 0.5em;
	}

	h3 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 800px;
		gap: 0.5em;
	}

	p {
		color: #edf0f1;
		font-size: 20px;
		padding-bottom: 5px;
		letter-spacing: 0.5px;
	}
	.icon {
		width: 25px;
		filter: invert(100%) drop-shadow(2px 2px 2px #151d30);
	}
	.icon-squad {
		width: 32px;
		filter: drop-shadow(2px 2px 2px #151d30);
	}
	.iconitza {
		width: 75px;
		filter: drop-shadow(2px 2px 2px #151d30);
	}
	
</style>
